#blog-container {
    margin-top: 14px;
}
.card {
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px #888888;
}

#image-slider {
    padding-left: 0px;
    padding-right: 0px;
}
.contact-form {
    padding-top: 15px;
    padding-left: 100px;
  }
  
  /* Add CSS for <input> and <textarea> tags */
  .input, textarea{
    width:min-content;
    margin-top: 0px; 
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dee7ec;
  }
  
  /* Add CSS for contact-submit */
  .contact-submit{
    background-color: #dee7ec;
    color: #889eab;
  }
.message{
  margin-top: 10px;  
}

/* css for about me page footer*/
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
  margin: 10px 0px 0px 0px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

#about-me-body{
  background-color: rgb(179, 225, 226)
}